name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          uv sync --all-extras --dev

      - name: Pytest
        run: |
          uv run python --version
          uv run pytest

      - name: Run benchmarks
        run: |
          uv run python --version
          uv run pytest -m benchmark --benchmark-only --benchmark-json=benchmark_results.json

      - name: Visualize benchmarks
        run: |
          uv run docs/visualize_benchmarks.py benchmark_results.json
        if: always()

      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: benchmark-results-${{ matrix.python-version }}
          path: |
            benchmark_results.json
            *.png
